<!DOCTYPE html>
<html>
  <head>
    <title>Airport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <div class="container">
      <div class="row">
        <%= link_to "Identity Providers", identity_providers_path %> |
        <%= link_to "Service Providers", service_providers_path %>
      </div>
    </div>
  </footer>
</html>
